<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Marketing Mobile Apps</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="bootstrap.css" rel="stylesheet">
	<link href="workflowerstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <script type="text/javascript" src="//use.typekit.net/sbf5ohi.js"></script>
      <link rel="stylesheet" href="style.css">
      <script type="text/javascript" src="app.js"></script>

      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container">
  			<div class="navbar-header">
  				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="navbar-brand" href="#">
<!--   					<img src="images/workflower-logo-text.png" height="26" alt="" style="margin: -8px 0px -6px 0px;">
 -->  				</a>
  			</div>
  			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
  				<ul class="nav navbar-nav">
<!--   					<li class="active">
  						<a href="#omatTiedot"></a>
  					</li>
 -->  				</ul>
  				<ul class="nav navbar-nav navbar-right">
<!--   					<li>
  						<a href="#about"></a>
  					</li>
 -->  				</ul>
  			</nav>
  		</div>
  	</div>


  	<div class="jumbotron">
  		<div class="container">
  			<div class="row">
  				<div class="col-sm-12">
  					<h1 style="text-align: center;">Marketing Mobile Apps</h1>

  				</div>
  			</div>
  			<div class="row">
  				<div class="col-sm-12">
  					<p style="text-align: center;"><b>Comprehensive Guide to Growth Hacking on a Shoestring Budget</b></p>
  					<p style="text-align: right;">by <a href="mailto:henri@heikkinen.hk">Henri Heikkinen</a></p>
  				</div>
  			</div>
  		</div>
  	</div>

  	<div class="container">
  		<!-- Example row of columns -->
  		<div class="row">
  			<div class="col-sm-12">

<p>If
you follow the mobile app industry in any way, you have probably wondered why
some apps are huge hits while others are doomed to be in oblivion. </p>

<p>When
you ask a developer of a successful app, he’ll say, “It’s just a matter of
creating a good product and engaging the users”. An investor would tell you
that it’s all about the team &#8211; and naturally he is the best finding the
successful ones. A non-successful developer just thinks that it’s a matter of
luck and the successful guys just suddenly started pulling gem-grade diamonds
from their behind.</p>

<p>The
truth is of course somewhere between. Naturally the success is always a
combination of a good product, skills and sheer luck, but if you do the right
decisions when developing and marketing your game, you’ll have a tenfold
increase in your changes of success. </p>

<p>Of
course this is not a definitive guide, but rather a list of things for someone
to consider as a developer. If there is any demand, I could consider writing an
entire book on the subject. </p>

<h2 ><a
name="_Toc254544228">Image matters</a></h2>

<p>First
of all, you should, for a lack of better term, do some “branding”. For some
“real” branding you should use professionals, but being someone reading this,
you probably won’t. Even you are too cheap or broke to use professionals, try
to maintain some kind of consistent and professional looking company and
product image. </p>

<p>Get
yourself a “brand identity”, which practically in a typical indie case means
that you’ll get some Asian freelancer from 99designs or other similar service
to create you professional looking logo, business card and stationary. Company
wise it is enough for the beginning. It helps you to look professional when
talking to non-developers.</p>

<p>Within
the product you should also have a consistent look and feel with a recognizable
style. This applies to games and app alike. The design should be professional
and consisted from App Store icons and Google Play wallpapers to everything in
the product itself. Doing this right will also help your sales and make the
game easier to market. </p>

<p>I
can’t underline enough the significance of your icons and screenshots when
persuading users to download your product. Even a small developer should pay
attention to at least the icons and wallpapers.</p>

<p>At
this point the developers who want the money instead of a tricycle should also
ask themselves, “Is there something in our product that we could make a
franchise of and strike it rich like XX”. The answer is maybe. </p>

<p>There
are lots of very popular games and apps that don’t monetize their popularity
outside the game itself. Angry Birds brand is an example of something that
emerged from games, but is very identifiable and quite successful on its own.
Naturally franchising is not possible for everyone, because of the different
nature of all products, but in my opinion it is always good to think big, even
when you are small.</p>

<h2 ><a
name="_Toc254544229">Naming your baby</a></h2>

<p>Naming
a product is never an easy task. A good name is not a guarantee for success,
neither I haven’t seen a name that bad that made a product fail. That said, it
still has an impact in your success. If you are making a serious franchise, I
can’t really help you with naming in this article. You really have to name your
baby yourself.</p>

<p>Just
two tips here: Firstly make it easy to spell your name correctly. Not everyone
speaks English and even amongst the native speakers there are surprisingly many
that don’t even know the difference between you’re and your. Secondly remember
all the trademarks &#8211; don’t launch a project without checking the
availability of the trademark. You don’t want to get ripped off or sued.</p>

<p>If
you are not planning to make a franchise, but just want to make some dough with
your product, you should think on some kind of quick and dirty search engine
optimization, including the search and categories of the marketplace, with the
name of your app. Naturally optimizing the findability of your app applies to
you even when developing a franchise.</p>

<p>Unless
you are already famous, people won’t know how to find your app. Many users are
not searching for anything particular, but just looking for “a racing game”. So
people searching for racing games in a app store would include “racing” in
their search terms, pirate games should be found with “pirate” search term and
so on. </p>

<p>Seemingly
only the developers of quick rip-off products have &#8211; probably
inadvertently &#8211; found out this naming convention.<span
style="mso-spacerun:yes">&nbsp; </span></p>

<p>Of
course it is not only about the name. Remembering how people look for products,
make sure that you use all the right keywords in the description. App store
algorithms are not as sophisticated as those in the Google web search. However,
don’t overdo it. Make it look as natural as possible while keeping the search
engine optimization in mind.</p>

<p>Speaking
of natural, don’t hesitate to invest in translations. Google translate will
help in the beginning, making your game easier to find in other markets too,
but naturally it has its limits. When you have gained some traction in the
English-speaking markets you should get a real human translation from a company
like Transfluent. It will most likely pay back the investment in new users. In
the other hand, if your product isn’t a success in English, it probably won’t
be in the other languages either &#8211; unless your product is some kind of
mundane work simulator translated in German. </p>

<h2 ><a
name="_Toc254544230">Keep up the quality</a></h2>

<p><b
><o:p>&nbsp;</o:p></b></p>

<p>It
is a certainty that the products you are currently developing in your garage is
nothing short of spectacular, but still I can’t underline enough that
everything else is pointless if your app is utter crap. Of course almost
everything is subjective, but there are some things you should consider. </p>

<p>First
of all, the product should be free of frustrating bugs. Every application has
some bugs, but the frustrating ones kill your ratings and give you some very
bad word-of-mouth fame. So prioritize quality above all. Secondly invest on
usability. Your app doesn’t need to be pretty, but it sure as hell should be
usable. </p>

<p>In
my opinion user frustration is the single biggest factor that gives you the famed
5 star ratings. People are actually quite polarized when giving out ratings, so
if everything was ok, you’ll get 5 stars. If the user got frustrated, even for
some reason that you are not responsible of, he’ll give you a one star rating. </p>

<p>To
avoid those pesky one star ratings I suggest that you add a feedback channel
directly in your application. A few soothing words back from the developer and
the feeling of a developer actually listening its customers usually helps on
the time of frustration. In practice this could be done as a link that opens up
the default email app or just sends an email on an in-app IM message to the
developer. When you get your feedback from App store it is already too late.</p>

<p>I
must highlight that I mean frustrating bugs or design flaws that are unplanned.
Sometimes an intentionally insane difficulty or some other malicious design can
be one of the main reasons the people are enjoying your product.</p>

<h2 ><a
name="_Toc254544231">Pre-launch tricks</a></h2>

<p>Benjamin
Franklin supposedly said that, “By failing to prepare, you are preparing to
fail”. The same applies when publishing apps. Before launching your product you
should do some extensive testing. Do some focus group and A/B testing to
validate all your design decisions, from icon design to the actual app. </p>

<p>As
the name implies, in A/B testing two different versions (A and B) are compared.
The versions are not totally different, but they should be identical, except
for the one design variation that you are testing. Would you rather brutally
murder your family or be a part of human centipede is not A/B testing.</p>

<p>In
focus group testing you acquire subjective feedback from a group of people. You
could ask for their opinions on the product in general, or have some “future
users” to actually test the usability. Since people are prone to answer
different than they’ll actually do, they should not be relied upon or used as
the sole basis for making important decisions.</p>

<p>In
addition to controlled tests, you should actually pre-publish the product on a
smaller market before the “actual” launch. Many companies that aim the desired
U.S. market go to Canada or New Zealand before to get some valuable real word
feedback and metrics.</p>

<h2 ><a
name="_Toc254544232">Public relations done right</a></h2>

<p>Media
coverage usually has a huge impact on sales. Why are some companies all the
time in the spotlight while others aren’t? Some of them might actually just be
media favorites, but usually it’s just a matter of smart PR. This is an art
itself and deserves a lot more than a mention in an article. This is actually something
you should hire a professional to do.</p>

<p>Most
of editors are just lazy bastards looking for easy content. The easiest way to
get in the news is to submit a press release. Write something newsworthy that
works as a one-liner such as “Small startup gets more downloads than the
industry ruling behemoth”. Add something about your product and most will
probably swallow the bait. Remember to write in a way that it requires little
more than a simple copy-paste operation to publish an article.</p>

<p>A
more sophisticated way would be to make something that is newsworthy and preferably
sympathetic, like add a special control scheme for a fan with special needs and
tip the media without actually making a public statement. In these cases it’s
always good to have journalist friends. How to get media contacts is a
completely different story.</p>

<p>Just
remember that launching “Unknown product X” is usually not news, unless you
have something really special. You could compare it to having a baby. How proud
you might be of your offspring, the truth is that most likely no one else
really cares. </p>

<p>You
could study some “guerrilla marketing” and “publicity stunt” tips online to get
a better clue on this. </p>

<h2 ><a
name="_Toc254544233">Piggyback to millions</a></h2>

<p>By
far, the easiest way to get a gazillion downloads would be piggybacking on
other applications, so called cross-promotion. It is as simple as it sounds.
Someone with a huge download base can get pretty much everything to have a huge
initial kick-off when publishing and cross-promoting your product. </p>

<p>Of
course in order to get a bazillion downloads, your app has to stand on its own
after the initial push. If you can piggyback your product in the top10 list of
new apps, you’ll get truckloads of “free” downloads. People usually don’t go
beyond the front page when looking for something new to play.</p>

<p>This
is the main reason I would consider using a publisher or distributor on a
mobile product. If you can’t or don’t want to get your product published by
others, you can always start collecting your own user base. Here quantity goes
over quality. When starting from zero, it is a lot easier to make ten small applications
with 100 000 users each than it is to get one million users to a single
application.</p>

<p>Of
course if you keep releasing utter crap, you’ll publishing platform won’t be
worth a lot, since your recommendations aren’t taken very seriously. However,
it is not hard to meet the minimum expectations. </p>

<p>When
building your own cross promotion network, it is good to have some kind of
product roadmap. If your users like your product X, the product Y should appeal
at least partly to the same audience. This also applies to other forms of
cross-promotion. You probably won’t get much attention in the knitting
community with your homage to Postal games.</p>

<p>Naturally
the distribution channel has a huge impact on sales &#8211; a mediocre product
in a popular channel is more likely to be successful than an excellent product
in a mediocre distribution channel. </p>

<h2 ><a
name="_Toc254544234">Buy some users</a></h2>

<p>If
you happen to be backed up by investors, you could skip the initial
piggybacking and just spend squillion dollars into marketing. As silly as it
sounds, it has most probably been the main driving force for some of the most
successful mobile cash cows.<span style="mso-spacerun:yes">&nbsp; </span></p>

<p>Of
course when speaking of users bought, I’m not talking about prostitutes. You
can put your ad in a media such as mobile Facebook and calculate the cost for a
new user acquired. I’m just pulling these numbers out from a hat, but let’s say
that an average download costs you a dollar. If the user brings you in more
than a dollar, you could consider paying for him. This is called CPI (cost per
install) advertising. </p>

<p>The
actual price is more than a dollar, for example according to Techcrunch <i
>(03/01/14)</i>, the cost to acquire a new
user for an iOS application rose to $1.62 in 2013 from Û1.30 in 2012, spiking
to $1.90 before holidays. With all the new apps pouring ine, the price for a
new user is not going down</p>

<p>According
to mobile app marketing company TradeMob, it would take some 80 000 daily
downloads and cost you $96 000 to get in the U.S. app store. Naturally the
price varies and depends on the target market and ad platform used. This price
includes the “organic uplift”, so if your app is so bad that no one tweets,
shares of recommends it to friends, it would cost a lot more to stay in the top
ten. </p>

<p>It
works best when you have a free-to-play game or other product that generates a
lot of lifetime revenue per user. I wouldn’t recommend this for any other product,
unless you can verify that the users bought bring in more revenue than you
spent on acquiring them. Of course if you really have the cash, you could do a decent
campaign just to get your app in the top10 list of new apps. With the increased
visibility, it could actually pay off.</p>

<p>Most
likely in a purely ad funded product the revenue per user is not enough to fund
this kind of model, but for example a company like Supercell should constantly
buy users &#8211; and it probably does. Supercell had a revenue of almost 900
million dollars and its pretax income was “only” 464 millions. The rest wasn’t
spent all on employees, neither on drugs. Probably Supercell puts back in
marketing a 25-30% of every dime earned. </p>

<p>Because
of the big spenders, it will be increasingly difficult for newcomers to buy
themselves a place in the spotlights. When considering CPI advertising you
should also consider that the people downloading your app because of some
incentive are probably not going to be the most lucrative and loyal users.</p>

<h2 ><a
name="_Toc254544235">Screw it; I’ll just go viral</a></h2>

<p>Everybody
wants to be viral these days. In my opinion “viral marketing” of a product shouldn’t
be considered a silver bullet, but rather a part of your day-to-day PR
increasing your visibility. Neither should you expect hitting a gold vein with
just doing some “viral marketing magic”. </p>

<p>Contrary
to popular belief, stuff just doesn’t “go viral”. When people don’t understand
how something happens, they’ll think that it just “happened”. This is what we
call superstition. Well sometimes it happens and the reason behind it is
unknown, but then it’s just an act of almighty Internet Gods. Usually it is an
act of anonymous users.</p>

<p>Flappy
Bird creator tells that he was “lucky”, but there is are reasons to doubt that
something more than pure luck is behind the success. I’ll get into that later. Since
there are no silver bullets in getting yourself viral, I can’t give you them. I
can, however give you some tips in improving your changes. </p>

<p>According
to marketing professors Andreas Kaplan and Michael Haenlein you should give the
“right message to the right messengers in the right time” in order to succeed.
I personally think that this is the best description of viral mechanisms, although
in this article I’ll skip the “right time”.</p>

<h2 ><a
name="_Toc254544236">Right message</a></h2>

<p>Right
message is something interesting or funny that is related to your product.<span
style="mso-spacerun:yes">&nbsp; </span>In order to help your changes, you
should try to add something “viral” in your app in the early development phase.
</p>

<p>For
a game it could be a recognizable character, insane difficulty, catchy tune or
a possibility to share your funny moments on Facebook or Youtube. Actually a
company called Everyplay has quite a good product for sharing gameplay videos. Some
games are even known for bad programming (two words: Big Rigs), but I suppose
it’s not in your intentions.</p>

<p>Not
a long time ago a lot of people was sharing a BMW competition on Facebook, they
were eager to get their hands on the promised BMW M5. Story doesn’t tell if the
competition was actually legit, but it worked &#8211; for someone if not for
BMW.</p>

<p>When
making some shareable content yourself, it usually pays off to focus on current
events and web trends. The right message could be anything from silly screenshots
to a ridiculous competition. At a right time, it would be a good comment of
spoof on something that has been in news. The possibilities are nearly endless.
Just think, “Is this something someone would share or make a homage to”. Be
interesting!</p>

<h2 ><a
name="_Toc254544237">Right messengers</a></h2>

<p>Remember
that the right message depends on the intended messengers. Something that a
regular granny would share is different than stuff popular with teens.
Cultures, genders and different ages have generally different preferences so
remember whom are you trying to reach.</p>

<p>To
get viral you should have a good base audience. Popular boards, such as 4chan
and image sharing sites are constantly making stuff to spread like an STD at
Woodstock. It is much easier to “go viral” if you already have a million happy
users enjoying your product.</p>

<p>With
someone starting from zero the easiest strategy would be to create something,
share it in your vicinity and in the sites you think have the right audience,
tip some media and hope for the best. It helps a lot to get noticed by a
celebrity &#8211; or fake it humorously with some “photoshop magic”. Don’t lie
and don’t get sued though. I’m speaking about a crude parodic (and unofficial)
stuff here, not a picture of a celebrity promoting your product that could be
mistaken for a real photo.</p>

<p>If
you have some extra money to spare, don’t hesitate to boost your visibility in
social media. In order to amplify your message, check out tools like
Thunderclap.</p>

<h2 ><a
name="_Toc254544238">Get featured</a></h2>

<p>In
the mobile industry traditionally the best way to success has been to get
featured by Apple or Google. I will give some tips on getting featured later
on, but naturally I can’t guarantee it. There are many more certain ways to get
your app known by the public. In the end getting featured is a combination of a
good product and sacrificing virgin goats for the almighty App gods.</p>

<p>First
your product should support all ne newest gimmicks. If Apple or Google has a
new product, they will most likely feature apps supporting them. It is
obviously in their best interest to promote their own products and increase
their profits. If you are on the right place at the right time, you can benefit
on the side.</p>

<p>Other
general tips would be having a great UI with good screenshots and follow the
design guidelines. Some positive buzz and extensive media coverage also helps a
lot along with a good description and high ratings. Avoid publishing your app
near holidays or right after the weekend when the store admins are the busiest.</p>

<p>Google
has actually published at their I/O conference some pointers Android developers
can follow in order to increase their changes of getting featured on Google
Play. You’ll find them online quite easily.</p>

<p>In
the end it pays off to have good connections within the companies. They get
hundreds of submissions every day and partly due to human nature and to ease
their workload the small team reviewing will most likely miss your brainchild
in favor of someone they already recognize. Life is tough, get used to it.</p>

<h2 ><a
name="_Toc254544239">Post-launch tricks</a></h2>

<p><b
><o:p>&nbsp;</o:p></b></p>

<p>Your
app is like a kitten. <span style="mso-spacerun:yes">&nbsp;</span>You can’t
just abandon it in the woods after it grows up. You have to do a lot of
follow-up work in order to keep the users happy, your game on the lists and
money pouring in to pay for your lavish lifestyle in your mom’s garage. </p>

<p>First
of all, you need to analyze your users like NSA. Where do they come from, how
much they play, when they rage quit, where they click etc. There are some great
tools on the market for spying your users, Flurry and Countly to mention a few.
</p>

<p>Then
keep updating your app. Fix the bugs people are complaining about, change the
parts that make your users quit using, add some content and so on. Every time
you add some new free content and notify the users, you’ll most likely see a
nice surge in the download numbers.</p>

<p>Do
occasional discount campaigns. Human mind works funny. If you have a free app,
make it paid and put it again on “free for a limited time”, you’ll probably get
more downloads. Ok, maybe you shouldn’t try that, but offer other discounts.
From cheap in-app purchases today only to a limited time free download for a
paid app. The magic word here is “for a limited time only”. The results can be
quite astonishing.</p>

<h2 ><a
name="_Toc254544240">The dark side</a></h2>

<p>I
mentioned before my doubts on the luck of Flappy Bird creator. The bird game
“went viral” and suddenly it was everywhere. Dong Nguyen, the Vietnam-based
developer said that he never did any promotion for the game and quite likely,
he didn’t. So there was no money spent, no cross-promotion done and Flappy Bird
didn’t even employ any sharing features. </p>

<p>I
have no doubts on the fact that Flappy Birds has all the necessary qualities of
a viral product. It has a distinctive look, it is extremely simple and there is
something to tell about to your friends &#8211; the frustrating difficulty. It
reminds me of the running game QWOP that was a viral hit a couple of years ago.</p>

<p>Hit
or not, one thing is sure: for a product to go viral it needs messengers and if
practically no one plays a game, it won’t get viral. Of course it is possible
&#8211; and I hope that this is the case &#8211; that someone capable of
reaching a large audience, like a journalist, just happened to stumble upon
Flappy Bird, wrote about it and BANG, it went totally insanely viral. </p>

<p>Carter
Thomas from Bluecloud Solutions, a USA based iPhone app marketing company wrote
an article about Flappy Bird. Mr. Thomas strongly suggests that there is
something fishy going on. In the article he accuses Nguyen of using bots to
generate downloads.</p>

<p><i
>“For any of you that don’t understand how
this works, essentially people will create cloak IP addresses and automate
hundreds of thousands of Apple ID accounts on virtual devices that download an
app millions of times”,</i> Thomas writes.</p>

<p>Because
chart rankings are driven by download volume &#8211; that is why people advertise
to get at the top 10 &#8211; the app goes straight to the top and starts
getting media and user attention. I sincerely hope that this is not the actual
case on Flappy Bird.</p>

<p>Flappy
Bird is not the only time there are doubts that such “marketing” has been used.
In the end, there are quite a lot of bots to manipulate different online
metrics. This kind of strategy was presumably used when a new Finnish teen pop
star went from obscurity to headlines after suddenly, almost overnight having
over 1000 000 video views in Youtube. That’s quite an accomplishment for a
totally unknown artist in a country with a population of little more than 5.5
million. </p>

<p>This
chapter is named “the dark side” on purpose. While using bots or other
questionable means to get to the top might seem a good idea, it isn’t. If you
get caught you will be banned from selling your apps, you will be blamed and
your reputation as a developer is quickly gone. Above all, it is a dick move.</p>

<p><i
>“Once you start down the dark path, forever
will it dominate your destiny”</i> -Yoda</p>

<h2 ><a
name="_Toc254544241">Conclusion</a></h2>

<p>Usually
the marketing people are those who don’t get any credit for the success, even
when their contribution often makes the difference between oblivion and
success. Probably you, the reader, are also one of those that are too cheap to
hire a marketing guy and rather do it yourself. </p>

<p>Instead
of trying to persuade you otherwise, I decided to write this guide to help you.
This article only scratched the surface of marketing mobile apps, but I hope it
was of some use for you. Please don’t hesitate to contact me with any questions
you might have on marketing. I’ll gladly help - at least for a fee.</p>

<h2 ><a
name="_Toc254544242">About the author</a></h2>

<p>I’m
a 29-year-old entrepreneur, currently the co-founder and CEO of a startup
called Foilchat. We are aiming to provide a safe and convenient way to
communicate for any individual or organization concerned over their privacy.</p>

<p>I
have some 12 years of marketing related experience, most of it as an
entrepreneur. In gaming industry I have been since 2007, working with companies
such as Pixolane, Frozenbyte and Fingersoft. In my free time I’ve co-authored a
book called “ElŠmŠŠ Hyvinvointivaltiossa” (Life in the welfare state).</p>

<p>Linkedin:
<a href="http://www.linkedin.com/in/henriheikkinen">http://www.linkedin.com/in/henriheikkinen</a></p>

<p>Facebook:
<a href="http://www.facebook.com/henri.heikkinen">http://www.facebook.com/henri.heikkinen</a></p>

<p>Twitter:
@henrihei</p>

<p>Email:
<a href="mailto:henri@heikkinen.hk">henri@heikkinen.hk</a></p>
  			</div>
  		</div>
  	</div>


<div class="footer-jumbo">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <a href="http://www.workflower.fi/" id="about">
            <img src="images/workflower-text.png">
            </a>
                      <br>
                      <br>

          </div>
          <div class="col-xs-9">
            <p>This website was built by <b><a href="http://www.workflower.fi/">Workflower Oy</a></b>, a team of web specialists. This site was built using <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="">NodeJS</a>, <a href="http://yeoman.io/">Yeoman</a>, <a href="http://gruntjs.com/">Grunt</a> ja <a href="http://github.com//">GitHub</a> and it was implemented by <a href="https://twitter.com/sakamies"><b>Ville</b></a> and <a href="https://twitter.com/pasiaj"><b>Pasi</b></a>.</p>
            <p>We are free for work in June 2014. Contact us at <a href="mailto:myynti@workflower.fi">hello@workflower.fi</a></p>
          </div>
        </div>
      </div>
    </div>
  	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="bootstrap.min.js"></script>


  </body>
  </html>
